name: Deploy Flutter Web
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build Web
        # Wir nutzen hier den direkten Pfad ohne das "./" am Anfang, falls das Probleme macht
        run: flutter build web --release --base-href "/${{ github.event.repository.name }}/"
        working-directory: sub

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Der Pfad zum fertigen Build-Ordner
          path: sub/build/web

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
